<main>
    <!--Body here-->

    <section class="container">
        <h3>Catalog</h3>
        <p>Here is a list of the most popular recipes that people are
            loving!
            Try out some of these recipes to find out why everyone is
            craving about them.</p>

        <ul class="content">
            <li class="card">
                <img src="../../assets/recipe.png" alt="recipe-image" />
                <div class="information">
                    <section class="head">
                        <h4>Name</h4>
                        <div>
                            <button><i class="fa-solid fa-circle-plus"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                        </div>

                    </section>

                    <section class="icons">
                        <ul>
                            <li>10</li>
                            <p>Prep time</p>
                        </ul>
                        <ul>
                            <li>40</li>
                            <p>Cook time</p>
                        </ul>
                    </section>

                    <button class="detailsBtn" routerLink="/:id/details">Details</button>
                </div>
            </li>
        </ul>

    </section>
</main>