<main>
    <!--Body here-->
    <section class="container">
        <h3>Create recipe</h3>
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <label for="photo">Photo:</label>
            <input type="text" id="photo" name="photo">
            <label for="text">Ingrediants:</label>
            <input type="text" id="ingrediants" name="ingrediants">
            <label for="text">Instructions:</label>
            <input type="text" id="instructions" name="instructions">
            <ul>
                <li>
                    <label for="photo">Prep time:</label>
                    <input type="number" id="photo" name="photo">
                </li>
                <li>
                    <label for="text">Cook time:</label>
                    <input type="number" id="ingrediants"
                        name="ingrediants">
                </li>
                <li>
                    <label for="servings">Servings:</label>
                    <input type="number" id="instructions"
                        name="instructions">
                </li>
            </ul>
            <button>Create</button>
        </form>
    </section>
</main>