<main>
    <!--Body here-->
    
   <section class="container">
    <!--Section one-->
        <img src="/images/recipe.png" >

    <!--Section two-->
        <div class="text">
            <h1>Name</h1>
            <h3>Instructions</h3>
            <p>text</p>
        </div>

    <!--Section three-->
        <div class="sidebar">
            <!--subsection-->
            <div class="icons">
                <button><i class="fa-solid fa-circle-plus"></i></button>
                <button><i class="fa-regular fa-heart"></i></button>
            </div>

            <!--subsection-->
            <div class="time">
                <ul>
                    <li>
                        <i class="fa-regular fa-clock"></i>
                        <p>Prep time</p>
                        <p>10</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <i class="fa-solid fa-clock"></i>
                        <p>Cook time</p>
                        <p>30</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <i class="fa-solid fa-utensils"></i>
                        <p>Servings</p>
                        <p>4</p>
                    </li>
                </ul>
            </div>

            <!--subsection-->
            <div class="ingredients">
                <h4>Ingredients</h4>
                <ul>
                    <li>text</li>
                </ul>
            </div>

            <!--subsection-->
            <!-- <div class="buttons">
                <button class="editBtn">Edit</button>
                <button class="deleteBtn">Delete</button>
            </div> -->
        </div>
   </section>
</main>