<header>
    <a class="logo" href="#"><img src="images/logo.png" width="125px" height= "28px"></a>
    <nav>
        <ul>
            <li>
                <a href="#">Catalog</a>
            </li>
            <li>
                <a href="#">Register</a>
            </li>
            <li>
                <a href="#">Log In</a>
            </li>
            <!--<li>
                <a href="#">Grocery List</a>
            </li>
            <li>
                <a href="#">Favourites</a>
            </li>
            <li>
                <a href="#">Profile</a>
            </li>
            <li>
                <a href="#">Log Out</a>
            </li>-->
        </ul>
    </nav>
</header>