/*body*/

.container{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    
    padding: 30px 30px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.133);

    border: 1px solid #fff;
    box-shadow: 0 0 16px 0 rgba(29, 29, 29, 0.203);
}

h3{
    padding-bottom: 25px;
}

form{
    display: inline-grid;
}
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


button{
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    background-color: #F49E20;
}

button:hover{
    background-color: #f1960e;
    cursor: pointer;
}

/* error */
.error{
    padding: 3px 0;
    color: rgb(247, 29, 29);
    font-size: 12px;
}