<main>
<!--Body here-->
<section class="container">
    <h3>Register</h3>
    <form >
        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <label for="repeat-password">Repeat Password:</label>
        <input type="password" id="repeat-password" name="repeat-password">
        <p>You don’t have an account? Go <a routerLink="/login">Log in</a></p>
        <button>Submit</button>
      </form>
</section>
</main>