<main>
<!--Body here-->
<section class="container">
    <h3>Register</h3>
    <form class="register" [formGroup]="form" (ngSubmit)="onRegister()">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"
        placeholder="Merry"
        formControlName="username"
        >

        <ng-container *ngIf="form.get('username')?.touched">
          <p class="error" *ngIf="form.get('username')?.errors?.['required']"
          >Username is required!</p>
        </ng-container>


        <label for="email">Email:</label>
        <input type="email" id="email" name="email"
        placeholder="merry@gmail.com"
        formControlName="email"
        >

        <ng-container *ngIf="form.get('email')?.touched">
          <p class="error" *ngIf="form.get('email')?.errors?.['required']"
          >Email is required!</p>
          <p class="error" *ngIf="form.get('email')?.invalid">
            Email is invalid!</p>
        </ng-container>
        

        <ng-container formGroupName="passGroup">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"
        placeholder="******"
        formControlName="password"
        >

        <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
          <p
            class="error"
            *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']"
          >
            Password is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']"
          >
            Password must be at least
            {{
              form.get('passGroup')?.get('password')?.errors?.['minlength']['requiredLength']
            }}
            characters!
          </p>
        </ng-container>


        <label for="repeat-password">Repeat Password:</label>
        <input type="password" id="repeat-password" name="repeat-password"
        placeholder="******"
        formControlName="rePassword"
        >

        <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched">
          <p
            class="error"
            *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']"
          >
          <p
            class="error"
            *ngIf="form.get('passGroup')?.errors?.['matchPasswordsValidator'] ||
             form.get('passGroup')?.get('rePassword')?.errors?.['required']"
          >
           Passwords does not match!
          </p>
        </ng-container>
      </ng-container>

        <p>Have an account? <a routerLink="/login">Log in</a></p>
        <button>Create Account</button>
      </form>
</section>
</main>